################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESX-Translate/bin/Debug
/RESX-Translate/obj/Debug
